\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\cffi-1.17.1-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\clr_loader-0.2.6-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\DateTime-5.5-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\importlib-1.0.4.zip
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\logging-0.4.9.6.tar.gz
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\pycparser-2.22-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\pythonnet-3.0.4-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\pytz-2024.2-py2.py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\setuptools-75.1.0-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\thread-2.0.5-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\tk-0.1.0-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\typing_extensions-4.12.2-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\zope.interface-7.0.3-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\contourpy-1.3.0-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\cycler-0.12.1-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\fonttools-4.54.1-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\kiwisolver-1.4.7-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\matplotlib-3.9.2-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\numpy-2.1.2-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\pillow-11.0.0-cp312-cp312-win_amd64.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\pyparsing-3.2.0-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\python_dateutil-2.9.0.post0-py2.py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\six-1.16.0-py2.py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\packaging-24.2-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\plotly-5.24.1-py3-none-any.whl
\\abtvdfs2.de.bosch.com\ismdfs\iad\verification\ODS\ADAS_HIL_concept\Classe\Install\Python\Libraries\Libs_3.12\CANoePy_Libs\tenacity-9.0.0-py3-none-any.whl