[submodule "adas_sim"]
	path = adas_sim
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjxil/adas_sim.git
[submodule "platform"]
	path = platform
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjxil/platform.git
[submodule "Platform"]
	path = Platform
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjxil/platform.git
[submodule "vTestStudio"]
	path = vTestStudio
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjph/test_vteststudio_multiecu_hil.git
[submodule "CustomerPrj/Restbus"]
	path = CustomerPrj/Restbus
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjxil/od_rbs.git
