*.cbf
*.dll.gen
*.stcfg
*.tse
*.sttse
.idea
*.pyc
.run/*
*.ini
*.vtesettings
!/Platform/Classe/Scripts/Git_sync_tool/*.ini
!/CustomerPrj/Multicanoe/Multicanoe_master/*.ini
!/CustomerPrj/Multicanoe/Multicanoe_slave1/*.ini
!/CustomerPrj/Multicanoe/Multicanoe_main_3/*.ini
*.local
*.vtestreport
*.settings
*.rename
*.log