[submodule "Carmaker"]
	path = Carmaker
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjxil/carmaker.git
[submodule "Rbs_Scripts"]
	path = Classe/Scripts/Rbs_Scripts
	url = ssh://git@sourcecode01.de.bosch.com:7999/pjxil/rbs_scripts.git
[submodule "Classe/Scripts/Rbs_Scripts"]
	path = Classe/Scripts/Rbs_Scripts
	url = ../Rbs_Scripts.git
